extends layout.pug 

block meta
    meta(name="description", content="Our clients are not just clients. They're partners. We work closely with them to deeply understand their software needs and create a solution that meets and exceeds those needs. At our young age, we have taken on small-scale, simple projects as well as complex, data-driven web applications, which goes to prove our ability to adapt and deliver high quality products regardless of the project.")

block styles 
    link(rel="stylesheet", href="/css/clients.css")

block title 
    h1 
    a(href="#clients") 
        i.bi-arrow-down-short

block body 
    section.container-fluid#clients
        each client in clients
            .client
                h2 #{client.name}
                a(href=client.website, rel="noreferrer noopener nofollow", target="_blank", title=client.name)
                    img.logo(src=client.logo, alt=client.name)
                p.service #{client.service}
                p.rating
                    each num in [... Array(client.rating).keys()]
                        i.bi-star-fill 
                button.btn-outline-dark 
                    a(href=`${client.website}`, rel="noreferrer noopener nofollow", target="_blank") Visit Website

block scripts 
    script(src="/js/clients.js") 