extends layout.pug 

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/clients.css")

block title 
    h1 
    a(href="#clients") 
        i.bi-arrow-down-short

block body 
    section.container-fluid#clients
        each client in clients
            .client
                h2 #{client.name}
                a(href=client.website, rel="noreferrer noopener nofollow", target="_blank", title=client.name)
                    img.logo(src=client.logo, alt=client.name)
                p.service #{client.service}
                p.rating
                    each num in [... Array(client.rating).keys()]
                        i.bi-star-fill 
                a(href=`${client.website}`, rel="noreferrer noopener nofollow", target="_blank")
                    button.btn-outline-dark Visit Website

block scripts 
    script(src="/js/clients.js") 