extends layout.pug 

block meta
    meta(name="description", content="Contact Us - Bletchley Tech. Interested in our services? Feel free to contact us through the form below or at the links at the bottom of the page. We'll be sure to get back at you as soon as possible.")
    meta(name="description", content="")

block styles 
    link(rel="stylesheet", href="/css/contact.css")

block title 
    h1 
    a(href="#contact") 
        i.bi-arrow-down-short

block body 
    section.container-fluid#contact
        h2 Get in touch 
        form(method="POST")
            article.row 
                aside.col-md-6 
                    label.form-label(for="name") Name
                        span.required *
                    input.form-control#name(type="text", name="name", placeholder="John Doe", required, value=data.name?data.name:"")
                    label.form-label(for="company") Company 
                    input.form-control#company(type="text", name="company", placeholder="Google", value=data.company?data.company:"")
                    label.form-label(for="email") Email
                        span.required *
                    input.form-control#email(type="email", name="email", placeholder="example@email.com", required, aria-describedby="emailText")
                    p.form-text#emailText(class=data.email?"error":"") #{data.email?data.email:"We'll only use this email to get back to you"}
                    label.form-label(for="service") I'm interested in 
                        span.required *
                    select.form-select#service(name="service", required)
                        option(value="Information") General Information
                        option(value="Web") Web Development
                        option(value="App") App Development
                aside.col-md-6 
                    label.form-label(for="message") Message 
                        span.required *
                    textarea.form-control#message(name="message", cols="30", rows="9", value=data.message?data.message:"I'm interested in your [service] package. I'm looking to set up an ecommerce/blog/business website/app (please select), and ...", required) 
                    input.btn.btn-light(type="submit", name="submit", value="Submit")

block scripts 
    script(src="/js/contact.js") 