extends layout.pug

block meta
    meta(name="description", content="")
    meta(name="keywords", content="")

block styles 
    link(rel="stylesheet", href="/css/team.css")

block title
    h1 
    a(href="#team") 
        i.bi-arrow-down-short

block body
    section.container-fluid#team 
        h2 Our Team
        each member in members 
            aside.member 
                img(src=member.image, alt=member.name)
                h3 #{member.name}
                p.title
                    each title, index in member.title 
                        - const length = member.title.length
                        if index === length-1
                            | #{title}
                        else 
                            | #{title}/
                p.socials
                    if member.socials.linkedin 
                        a(href=member.socials.linkedin, title="LinkedIn", target="_blank")
                            i.bi-linkedin
                    if member.socials.twitter
                        a(href=member.socials.twitter, title="Twitter", target="_blank", rel="noreferrer noopener")
                            i.bi-twitter 
                    if member.socials.facebook 
                        a(href=member.socials.facebook, title="Facebook", target="_blank")
                            i.bi-facebook
                    if member.socials.instagram 
                        a(href=member.socials.instagram, title="Instagram", target="_blank")
                            i.bi-instagram
                    if member.socials.website 
                        a(href=member.socials.website, title="Website", target="_blank")
                            i.bi-globe
                if member.quote 
                    p.quote 
                        em "#{member.quote}"   

block scripts 
    script(src="/js/team.js") 